<div class="form-group flex-column max-width-60">
  <div class="form-title flex-col-center mb-50">
    <h2 class="mb-15">Password Reset</h2>
  </div>
  <form [formGroup]="passwordResetForm" (ngSubmit)="submit()">
    <div class="input-group mb-0 required"
      [class.invalid]="passwordResetForm.get('newPassword')?.invalid && (passwordResetForm.get('newPassword')?.dirty || passwordResetForm.get('newPassword')?.touched)">
      <label for="">New Password</label>
      <div class="position-relative">
        <input type="password" formControlName="newPassword" id="" placeholder="Please Enter Your New Password">
        <img src="./assets/images/svg/lock.svg" alt="" class="icon">
      </div>
    </div>
    <div class="input-group mb-0 required"
      [class.invalid]="passwordResetForm.get('CNewPassword')?.invalid && (passwordResetForm.get('CNewPassword')?.dirty || passwordResetForm.get('CNewPassword')?.touched)">
      <label for="">Confirm New Password</label>
      <div class="position-relative">
        <input type="password" formControlName="CNewPassword" id="" placeholder="Please Confirm Your New Password">
        <img src="./assets/images/svg/lock.svg" alt="" class="icon">
      </div>
    </div>
    <div class="flex-col-center mt-70">
      <button type="submit" class="btn btn-navy">Save</button>
    </div>
  </form>
</div>
