<!-- pagination="true" -->
<swiper-container [config]="config" init="true" class="w-full">
  <swiper-slide class="w-[310px] h-[100vh]">
    <div class="slide-inner">
      <img src="assets/images/slider/main-background.jpg" alt="">
      <div class="slide-content">
        <h1>Nawloan</h1>
        <p>A Platform For Providing Truck Owners, Drivers, Factories And Business Owners With
          All Their Logistical Needs. Safely, Quickly And Economically</p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="w-[310px] h-[100vh]">
    <div class="slide-inner">
      <img src="assets/images/slider/2.jpg" alt="">
      <div class="slide-content">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolores ad corporis
          aperiam mollitia maxime est facilis, voluptatem nisi alias.</p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="w-[310px] h-[100vh]">
    <div class="slide-inner">
      <img src="assets/images/slider/3.png" alt="">
      <div class="slide-content">
        <h1>deleniti</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et debitis aliquid ipsa
          deleniti quae, quisquam dolores nihil vel officia? Culpa obcaecati fugiat natus a
          et.</p>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide class="w-[310px] h-[100vh]">
    <div class="slide-inner">
      <img src="assets/images/slider/4.jpg" alt="">
      <div class="slide-content">
        <h1>Adipisci</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vitae id alias
          suscipit ipsam excepturi.</p>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
