<section class="hero-section">
  <naw-hero-slider></naw-hero-slider>
</section>
<section class="about-section" id="about_us">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-12">
        <div class="about-content">
          <h2>Nawloan</h2>
          <p>
            Logistical Services And Freight Transport In Egypt By Managing And Operating A Fleet Of
            Trucks Through An Online Platform. Aims To Increase The Driver’s Income And Decrease The
            Shipping Costs. Thanks To Its Professionals And Partner In Success NAQL MASR Has A
            Proven Experience In Truck Management, Providing Logistics Solutions, Just In Time (JIT)
            Reports And Professional Trucks On Demand. NAQLA MASR Has Such An Elite Management Style
            Which Helps To Maintain Reasonable Cost.
          </p>
          <p>
            Logistical Services And Freight Transport In Egypt By Managing And Operating A Fleet Of
            Trucks Through An Online Platform. Aims To Increase The Driver’s Income And Decrease The
            Shipping Costs.
          </p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-12">
        <div class="about-images">
          <div class="box-wrap">
            <div class="image-box">
              <img src="./assets/images/about/1.png" alt="">
            </div>
          </div>
          <div class="box-wrap">
            <div class="image-box">
              <img src="./assets/images/about/3.jpg" alt="">
            </div>
          </div>
          <div class="box-wrap">
            <div class="image-box">
              <img src="./assets/images/about/2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="app-features gray-container">
  <div class="container pt-70 pb-90">
    <div class="section-title centered">
      <h2>Ship With Nawloan</h2>
      <p>Proin Rhoncus, Neque Sed Congue Commodo, Orci Magna Tristique Ipsum, Vel Egestas Risus Augue Quis
        Justo.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <ul class="features-list">
          <li>
            <span class="list-style">1</span>
            <p>Easily Locate Your Shipment And Where It Will Be Transported, Select The Truck And
              Request Your Order</p>
          </li>
          <li>
            <span class="list-style">2</span>
            <p>The Appropriate Driver Is Selected According To The Type Of Truck And The Price Added
              To Start The Transportation Process</p>
          </li>
          <li>
            <span class="list-style">3</span>
            <p>Ease Of Transporting The Shipment From One Place To Another And At The Lowest Time
              And Price</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-12">
        <div class="banner">
          <img src="assets/images/features/1.1.png" alt="">
        </div>
      </div>
    </div>
    <ul class="app-links flex-space-around">
      <li>
        <a href="#"><img src="assets/images/btns/google-play-light.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="assets/images/btns/app-store-light.png" alt=""></a>
      </li>
      <li>
        <a routerLink="/register/service-seeker"><img src="assets/images/btns/nawloan-signup.png" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="container pt-70 pb-90">
    <div class="section-title centered">
      <h2>Work With Nawloan</h2>
      <p>Proin Rhoncus, Neque Sed Congue Commodo, Orci Magna Tristique Ipsum, Vel Egestas Risus Augue Quis
        Justo.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <ul class="features-list">
          <li>
            <span class="list-style">1</span>
            <p>Easily Locate Your Shipment And Where It Will Be Transported, Select The Truck And
              Request Your Order</p>
          </li>
          <li>
            <span class="list-style">2</span>
            <p>The Appropriate Driver Is Selected According To The Type Of Truck And The Price Added
              To Start The Transportation Process</p>
          </li>
          <li>
            <span class="list-style">3</span>
            <p>Ease Of Transporting The Shipment From One Place To Another And At The Lowest Time
              And Price</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-12">
        <div class="banner">
          <img src="assets/images/features/2.1.png" alt="">
        </div>
      </div>
    </div>
    <ul class="app-links flex-space-around">
      <li>
        <a href="#"><img src="assets/images/btns/google-play-light.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="assets/images/btns/app-store-light.png" alt=""></a>
      </li>
      <li>
        <a routerLink="/register/service-provider"><img src="assets/images/btns/nawloan-signup.png" alt=""></a>
      </li>
    </ul>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="section-title centered">
      <h2>Why Choose Us</h2>
      <p>Proin Rhoncus, Neque Sed Congue Commodo, Orci Magna Tristique Ipsum, Vel Egestas Risus Augue Quis
        Justo.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/safe.svg" alt="">
          </span>
          <h3>Safe & Secure Delivery</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/support.svg" alt="">
          </span>
          <h3>24/7 Support</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/shipment-track.svg" alt="">
          </span>
          <h3>Track your shipments</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/notes.svg" alt="">
          </span>
          <h3>Ease</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/monitor.svg" alt="">
          </span>
          <h3>Track your shipments</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="icon-box">
          <span class="icon">
            <img src="assets/images/svg/support-2.svg" alt="">
          </span>
          <h3>24h/7 Days Support</h3>
          <p>Donec Tempor Finibus Ante Ac Luctus. Fusce Facilisis Nisi. Donec Tempor Finibus Ante Ac
            Luctus. Fusce Facilisis Nisi Tempor Finibus Ante Ac Luctus Facilisi.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<naw-support-section></naw-support-section>
<naw-articles-section></naw-articles-section>
