<section class="pt-60">
  <div class="white-container max-width-80 bring-to-front">
    <div class="form-group flex-column max-width-60">
      <div class="form-title flex-col-center mb-50">
        <h2 class="mb-15">Phone Verification</h2>
        <p>Please Enter The OTP Code Here</p>
      </div>
      <form [formGroup]="otpForm" (ngSubmit)="submit()">
        <div class="input-group mb-0 required"
          [class.invalid]="otpForm.get('code')?.invalid && (otpForm.get('code')?.dirty || otpForm.get('code')?.touched)">
          <label for="">OTP Code</label>
          <input type="text" formControlName="code" id="" placeholder="Please Enter OTP Code">
        </div>
        <div class="mt-10 code-countdown">
          <p class="countdown-statement">Resend Code In <span id="countdown">60</span> Second</p>
          <p class="after-countdown">Didn't Receive The Code? <a (click)="reSendOtp()">Resend</a></p>
        </div>
        <div class="flex-col-center mt-70">
          <button type="submit" class="btn btn-navy">Verify Now</button>
        </div>
      </form>
    </div>
  </div>
</section>
